@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
div{
    height: 572px;
    width: 22%;
    background-color: black;
    border: red 2px solid;
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
}
img{
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border-radius: 1px;

}
p{
    font-size: xx-small;
font-family:  'Combo', cursive;
;
}